<footer class="footer">
  <div class="columns">
    <div class="column">
      <a href="https://gouvernanceintegrative.com/" target="_blank">
        <img src="{{ url_for('static', filename='img/GI_website.webp') }}" alt="Logo de la Gouvernance Integrative" width="320" height="55">
      </a>
    </div>

    <div class="column text-center">
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
        <img src="{{ url_for('static', filename='img/CC_BY-SA.svg') }}" alt="Licence CC-BY-SA 4.0" width="150" height="53">
      </a>
    </div>

    <div class="column text-right">
      <p>Boîte à outils créée par Sacha Epp<br>
      Transformé en <a href="https://github.com/yaap7/outils-GI" target="_blank">site web par Guillaume G</a><br>
      Version {{ base_info['version'] }}</p>
    </div>
  </div>
</footer>
