{% extends 'layout.html' %}

{% block head %}
  <meta name="description" content="Boîte à outils numérique de la Gouvernance Intégrative.">
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title is-1 text-center" id="titre">
        Boîte à outils numérique de la Gouvernance Intégrative
    </h1>
    <div class="columns">
      <div class="column">
        {% include 'liste_processus.j2' %}
      </div>

      <div class="column">
        {% include 'form_recherche.j2' %}
      </div>
    </div>
  </div>
{% endblock %}
