{% extends 'layout.html' %}

{% block head %}
  <meta name="description" content="Outil de recherche de processus de décision - basé sur la boite à outils de la Gouvernance Intégrative.">
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title is-1 text-center" id="titre">
      Outil de recherche de processus de décision - basé sur la boite à outils de la Gouvernance Intégrative
    </h1>
    <p class="subtitle is-3 text-center">
      Trouvez le processus de décision adapté à chaque situation !
    </p>
    <div class="columns">
      <div class="column is-one-third p-0">
        {% include 'liste_processus.j2' %}
      </div>

      <div class="column p-0">
        {% include 'form_recherche.j2' %}
      </div>
    </div>
  </div>
{% endblock %}
