<table class="table is-fullwidth text-center legende">
<tr>
    <td>Semaines</td>
    <td></td>
    <td></td>
    <td>Jours</td>
    <td></td>
    <td></td>
    <td></td>
    <td>Heures</td>
    <td></td>
    <td></td>
    <td>Minutes</td>
    <td></td>
    <td></td>
    <td>Secondes</td>
</tr>
</table>