<table class="table is-fullwidth text-center legende">
<tr>
    <td>Faible</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Fort</td>
</tr>
</table>