<table class="table is-fullwidth text-center legende">
<tr>
    <td>Peu concerné</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Acceptation</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Application</td>
</tr>
</table>