<table class="table is-fullwidth text-center legende">
<tr>
    <td>4</td>
    <td></td>
    <td>8</td>
    <td></td>
    <td>12</td>
    <td></td>
    <td>20</td>
    <td></td>
    <td>50</td>
    <td></td>
    <td>1000</td>
    <td></td>
    <td>Millions</td>
</tr>
</table>