<table class="table is-fullwidth text-center legende">
<tr>
    <td>Simple</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>Complexe</td>
</tr>
</table>