{% extends 'layout.html' %}

{% block head %}
  <meta name="description" content="Fiche récapitulative du processus &quot;{{ processus['titre'] }}&quot; tel que décrit dans la Gouvernance Intégrative.">
{% endblock %}

{% block body %}
<section class="section">
  <div class="container">
    <h1 class="title is-1 text-center" id="titre">
      {{ processus['titre'] }}
    </h1>
    <p class="subtitle text-center">
      {% if processus['id'] % 100 == 0 %}
        Fiche récapitulative de famille de processus
      {% else %}
        Fiche récapitulative de processus de décision
      {% endif %}
    </p>
    <div id="description">
      {{ processus['description']|safe }}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column text-center" id="criteres">
        {% for critere in conf["criteres"] %}
          <div class="critere border-shadow-light">
            <h2 class="title is-4">
              {{ critere["nom"] }}
            </h2>
            <table class="critere">
              <tbody>
                <tr>
                  {% for i in processus[critere["id"]] %}
                    <td>
                      <svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg" class="crit">
                        <rect x="1" y="1" width="28" height="28" rx="5" style="fill:#1d7735;fill-opacity:{{ i | crit_filter }};stroke:black;stroke-width:2px;" />
                      </svg>
                    </td>
                  {% endfor %}
                </tr>
                <tr>
                  {% for niveau in critere["echelle"] %}
                    <td>{{ niveau }}</td>
                  {% endfor %}
                </tr>
              </tbody>
            </table>
          </div>
        {% endfor %}
      </div>
      <div class="column" id="caracteristiques">

        {% for critere_optionnel in conf["criteres_optionnels"] %}
          {% if processus[critere_optionnel["id"]] %}
            <div class="critere_optionnel border-shadow-light">
              <p>
                <strong>{{ critere_optionnel["nom"] }}</strong> :
                {{ processus[critere_optionnel["id"]]|note_critere }}
              </p>
              {% if processus[critere_optionnel['id']] > 0 and processus[critere_optionnel['id']] <= 12 %}
                <progress class="progress is-info" value="{{ processus[critere_optionnel['id']]|pourcent_critere }}" max="100">{{ processus[critere_optionnel["id"]]|pourcent_critere }}%</progress>
              {% else %}
                <progress class="progress is-info" value="0" max="100">0%</progress>
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}

        {% for caracteristique in conf["caracteristiques"] %}
          {% if processus[caracteristique["id"]] %}
            <div class="caracteristique" style="border-color: {{ caracteristique["couleur"] }};">
              <div class="caracteristique-titre" style="background-color: {{ caracteristique["couleur"] }};">
                <h2 class="title is-4 text-center">
                  {{ caracteristique["nom"] }}
                </h2>
              </div>
              <div class="caracteristique-contenu">
                {{ processus[caracteristique["id"]]|safe }}
              </div>
            </div>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
</section>
{% endblock %}
