{% extends 'layout.html' %}

{% block head %}
<meta name="description" content="Résultat de recherche de famille de processus de décision.">
{% endblock %}

{% block body %}
  <section class="section">
    <div class="container">
      <h1 class="title is-1 text-center" id="titre">
        Liste des scores
      </h1>
      <ol>
        {% for process in processus_triees %}
          <li>Le processus « <a href="processus/{{ process[0]['id']}}">{{ process[0]["titre"] }}</a> » a obtenu un score de {{ process[1] }}</li>
        {% endfor %}
      </ol>
    </div>
  </section>
{% endblock %}
